<% include head.ejs %>

<main class="profile-main">
    <section>
        <h1><%= data.name %></h1>
        <% if (data.profile) { %>
            <img alt src="/upload/<%= data.profile %>">
            <% } %>  
        <p><%= data.age %></p>
        <p><%= data.interests %></p>
        <p><button id=js-remove data-id="<%= data.id %>" class=danger>Remove</button>
        </p>
    </section>
</main>

<% include tail.ejs %>

